@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@font-face{
    font-family: 'Cordel';
    src:url('../fontes/cordelina.otf') format('opentype');
    font-weight: normal;
}

@font-face{
    font-family: 'Eldes Cordel';
    src:url('../fontes/EldesCordel-Demo.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

:root{
    --font0: 'Montserrat', sans-serif;
    --font1: 'League Spartan', sans-serif;
    --font2: 'Amatic SC', cursive;
    --font3: 'Cordel', cursive;
    --font4: 'Eldes Cordel', cursive;
}

html, body{
    min-height: 100%; /* ou 100vh*/
    max-width: 1200px;
    margin: auto;
    background-color: rgb(212, 185, 150);
}

header{
    height: 40vh;
    min-height: 250px;
    width: 100%;
    background-image: url('../imagens/homem.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header h1{
    text-align: center;
    padding: 12vh 0vh 0vh 0vh;    
    font-family: var(--font3);
    font-size: clamp(3em, 7vw, 8em);
    font-weight: normal;
    color: rgb(66, 46, 20);
    font-variant: small-caps;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
    background-color: rgba(240, 248, 255, 0.164);
}

header p{
    text-align: center;
    padding-bottom: 20vh;
    font-family: var(--font3);
    font-size: 1.6em;
    font-weight: normal;
    color: rgb(66, 46, 20);
    font-variant: small-caps;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.164);
    background-color: rgba(240, 248, 255, 0.164);
}

header a{
    text-decoration: none;
    color: #7c4e13;
    font-family: var(--font3)
}

footer a{
    text-decoration: none;
    color: #7c4e13;
    font-family: var(--font0);   
    font-weight: 500;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    font-size: 1.03em;    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 1.5em;
    font-family: var(--font3);
    font-size: clamp(2em, 3vw, 3em);
    font-weight: 900;
    font-variant: small-caps;
}

section > p{
    padding-bottom: 2em;
}

aside{
    padding-bottom: 100px;
    margin-top: -100px;
    border-radius: 15px;
    padding: 20px;
}

aside p{
    line-height: 1.5em;
    font-family: var(--font2);
    font-size: clamp(2em, 4vw, 5em);
    font-weight: 900;
    font-variant: small-caps;
}

.normal{
    background-color: rgb(255, 247, 235);
}

.img{
    background-color: bisque;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.582);    
    background-attachment: fixed;
}

.img > p{
    background-color: #457087dc;
    color: antiquewhite;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.26);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.199);    
}

#img01{
    background-image: url('../imagens/flor.jpg');
    background-position: center center;  
    background-size: cover;  
}

#img02{
    background-image: url('../imagens/carta.jpg');
    background-position: right right;    
}

.video-container{
    position: relative;
    padding-bottom: 55%;    
    padding-top: 15px;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    background-color: rgb(212, 185, 150);
    padding: 20px;
    color: rgb(82, 58, 24);
    font-family: var(--font0);
    font-size: 1em;
    font-stretch: normal;
}
    
